
.container{
    max-width: 1440px;
    margin: 0 auto;
    padding: 0 8px;
  }
  
  // BG HOME
  
  .bg-home{
    position: relative;
  }
  
  // ---------- HERO -------------

  .hero {
    color: $white-normal;
    min-height: 80vh;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 14px;

    h1 {
      text-align: center;
      line-height: 150%;
      max-width: 940px;
      font-size: 48px;
    }

    p {
      text-align: center;
      margin: 14px 0;
    }
  }

  .buttonContact {
    border: 1px solid $red-light;
    padding: 14px 28px;
    background-color: $red-dark;
    color: $white-normal;
    border-radius: 4px;
    font-size: 18px;
    font-weight: 600px;
    margin: 14px 0;
  }

  .buttonContact:hover {
    animation: scaleButton 0.4s alternate infinite;
  }

@keyframes scaleButton {
      from {
        transform: scale(1);
      } 
      to {
            transform: scale(1.08);
      }   
}

@media screen and (max-width: 768px) {
      .hero {
        min-height: 60vh;

        h1 {
          font-size: 30px;
          padding: 0 14px;
          width: 100%;
        }
      }
}

//-- FINAL HERO --//


//---------------------------------//

//------- ABOUT ----------//

.about {
  background-color: $primary-normal;
  overflow: hidden;
  color: $white-normal;
}

  .about-content {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 14px;
    padding: 34px 14px 64px 14px;
    img {
      max-width: 570px;
    }
  }

  .about-content div {
    flex: 1;
  }

  .info {
    h2 {
      font-size: 34px;
      margin-bottom: 24px;
    }

    p{
      margin-bottom: 14px;
      line-height: 150%;
    }
  }

  @media screen and (max-width: 768px) {
    .about-content {
      flex-direction: column;

      .info {
        display: block;
        justify-content: center;
        align-items: center;
        text-align: center;
      }
    }

    


    
  }

