@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: 0;
}

header {
  width: 100%;
}

.header-content {
  display: flex;
  align-items: center;
  justify-content: space-between; /*espaça os itens entre eles*/
}

i {
  color: white;
}

.header-icons {
  display: flex;
  gap: 14px;
}

.header-icons a:hover i {
  animation: translateY 0.5s infinite alternate;
  color: #d34040;
}

@keyframes translateY {
  from {
    transform: translateY(0) scale(1);
  }
  to {
    transform: translateY(-8px) scale(1.1);
  }
}
.header-button {
  border: 1px solid white;
  padding: 8px 18px;
  border-radius: 5px;
  color: white;
  background-color: transparent;
  transition: background-color 0.5s;
}

.header-button:hover {
  border: 1px solid #d34040;
  background-color: #b42b2b;
}

.header-logo {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
  max-width: 200px;
}

/* PARTE RESPONSIVA*/
@media screen and (max-width: 768px) {
  .header-content {
    width: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .header-content i {
    margin-top: 16px;
    font-size: 30px;
  }
  .header-logo img {
    width: 200px;
    margin-top: 40px;
  }
  .header-button {
    display: none;
  }
}
.container {
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 90px;
}

.bg-home {
  position: relative;
}

.hero {
  color: white;
  min-height: 80vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 14px;
}
.hero h1 {
  text-align: center;
  line-height: 150%;
  max-width: 940px;
  font-size: 48px;
}
.hero p {
  text-align: center;
  margin: 14px 0;
}

.buttonContact {
  border: 1px solid #d34040;
  padding: 14px 28px;
  background-color: #b42b2b;
  color: white;
  border-radius: 4px;
  font-size: 18px;
  font-weight: 600px;
  margin: 14px 0;
}

.buttonContact:hover {
  animation: scaleButton 0.4s alternate infinite;
}

@keyframes scaleButton {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(1.08);
  }
}
@media screen and (max-width: 768px) {
  .hero {
    min-height: 60vh;
  }
  .hero h1 {
    font-size: 30px;
    padding: 0 14px;
    width: 100%;
  }
}
.about {
  background-color: #06121E;
  overflow: hidden;
  color: white;
}

.about-content {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 14px;
  padding: 34px 10px 64px 14px;
  margin: 80px;
}
.about-content img {
  max-width: 570px;
}

.about-content div {
  flex: 1;
}

.info h2 {
  font-size: 34px;
  margin-bottom: 24px;
}
.info p {
  margin-bottom: 14px;
  line-height: 150%;
}

@media screen and (max-width: 768px) {
  .about-content {
    flex-direction: column;
  }
  .about-content .info {
    display: block;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
}
.services {
  background-color: white;
  color: #232224;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 54px 14px;
}

.servicesContent h2 {
  text-transform: uppercase;
  text-align: center;
  font-size: 38px;
  margin-bottom: 14px;
}

.servicesContent p {
  line-height: 150%;
  margin-bottom: 14px;
  text-align: center;
  max-width: 780px;
}

.tipesServices {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 14px;
  padding: 0 44px 34px 44px;
}

.service {
  flex: 1;
  display: flex;
  flex-direction: column;
  background-color: white;
  border-radius: 8px;
  box-shadow: 0 -2px 17px -4px rgba(0, 0, 0, 0.8);
  overflow: hidden;
}
.service img {
  width: 100%;
  max-width: 254px;
  transition: transform 0.4s;
}

.service img:hover {
  transform: scale(1.4);
  z-index: 1;
}

.serviceInfo {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 14px;
  background-color: white;
  z-index: 99;
}

.serviceInfo button {
  background-color: #d34040;
  color: white;
  padding: 3px 5px;
  border: none;
  border-radius: 5px;
  cursor: default;
}

@media screen and (max-width: 768px) {
  .tipesServices {
    display: flex;
    flex-direction: column;
    max-width: 345px;
  }
}
.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px 0;
  gap: 25px;
  color: white;
}
.footer .imgLogo {
  max-width: 200px;
}
.footer p {
  font-size: 15px;
}

.footerIcons {
  display: flex;
  gap: 25px;
}

.btnWhatsapp {
  position: fixed;
  bottom: 30px;
  right: 24px;
  z-index: 99;
}
.btnWhatsapp img {
  max-width: 80px;
  transition: transform 0.5s;
}
.btnWhatsapp img:hover {
  transform: scale(1.3);
}

.btnWhatsapp .toolTip {
  visibility: hidden;
  position: absolute;
  width: 120px;
  top: 10px;
  left: -144px;
  border-radius: 8px;
  text-align: center;
  padding: 5px;
  background-color: #232224;
  color: white;
  opacity: 0;
  transition: opacity 0.3s;
}

.btnWhatsapp:hover .toolTip {
  visibility: visible;
  opacity: 1;
}

@media screen and (max-width: 768px) {
  .btnWhatsapp img {
    max-width: 50px;
  }
}
.bg-home::before {
  content: "";
  display: block;
  position: absolute;
  background-image: linear-gradient(to bottom, rgba(6, 18, 30, 0.1), #06121e), url("../Mecanica-dev/assets/mecanica bg.png");
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 0;
  opacity: 0.9;
}

body {
  font-family: "sora", sans-serif;
  width: 100%;
  height: 100vh;
  position: relative;
  background-color: #06121E;
}

button {
  font-family: "sora", sans-serif;
  cursor: pointer;
}

svg {
  width: 100%;
}

img {
  width: 100%;
}

a {
  cursor: pointer;
  text-decoration: none;
}/*# sourceMappingURL=style.css.map */